---
const { transparent = false, locale = "en" } = Astro.props;
let { page } = Astro.props;

import Debug from 'astro/debug';
import LanguagePicker from '$components/LanguagePicker';
import { fetchLangData } from '$/langUtil.js';
const l18n = await fetchLangData(locale);

// Fix "/"
page = page === "/" ? `/${locale}/` : page;

// I forgot how this method works but it works and that's all I care about
const getLinkClass = ((url) => {
    if (url === '/' || url === `/${locale}/`) {
        if (url === page) {
            return "headerPage selected";
        } else {
            return "headerPage";
        }
    } else {
        if (!(url === '/' || url === `/${locale}/`)) {
            return ((page.includes(url)) ? "headerPage selected" : "headerPage");
        } else {
            return "headerPage";
        }
    }
});

const homeRootClassList = transparent === "true" ? "header transparent" : "header";

const pageData = {
    home:       { url: `/${locale}/`,                   class: "", title: l18n.home     },
    choose:     { url: `/${locale}/choose-headset/`,    class: "", title: l18n.choose   },
    compare:    { url: `/${locale}/compare/`,           class: "", title: l18n.compare  },
    enhance:    { url: `/${locale}/enhance/`,           class: "", title: l18n.enhance  },
    github:     { url: `SPECIAL_GITHUB_REPO`,           class: "", title: l18n.github   },
};

// auto-generate the classes
Object.keys(pageData).forEach(x => {
    pageData[x].class = getLinkClass(pageData[x].url);
});

---
<div class={homeRootClassList}>
    <ul class="headerLinks">
        <li class="headerLink"><a class={pageData.home.class}       href={pageData.home.url}>{pageData.home.title}</a></li>
        <li class="headerLink"><a class={pageData.choose.class}     href={pageData.choose.url}>{pageData.choose.title}</a></li>
        <li class="headerLink"><a class={pageData.compare.class}    href={pageData.compare.url}>{pageData.compare.title}</a></li>
        <li class="headerLink"><a class={pageData.enhance.class}    href={pageData.enhance.url}>{pageData.enhance.title}</a></li>
        <li class="headerLink"><a class={pageData.github.class}     href="https://github.com/hyblocker/headset.guide" target="_blank">{pageData.github.title}</a></li>
        <LanguagePicker locale={locale}/>
    </ul>
</div>
