---
import Debug from 'astro/debug';
import SocialEmbed from '$/components/SocialEmbed.astro';
import Header from '$/components/Header.astro';
import { SITE_NAME, ACCENT_HEX } from '$/constants.js';

const currentPage = Astro.request.url.pathname;

const {
    content = {},
    transparent = true,

    locale = "en",

    title = (content.title === undefined) ?
              ((currentPage === '/' || currentPage === "/en/") ? SITE_NAME : `${currentPage.replace(/^\/+|\/+$/g, '')} | ${SITE_NAME}`)
            : (content.title === "" ? SITE_NAME : `${content.title} | ${SITE_NAME}`),
    description = content.description ?? "",
    image = content.image ?? "",
    color = content.color ?? ACCENT_HEX,

} = Astro.props;

---
<html lang={locale}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <SocialEmbed
            title={ title }
            description={ description }
            image={ image }
            color={ color }
        />

        <link rel="icon" href="/content/shared/favicon.png" type="image/png">
        <link rel="icon" href="/content/shared/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" lang="scss" href="{Astro.resolve('../css/main.css')}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:wght@600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <Header
            page={currentPage}
            transparent={transparent}
        />

        <div class="content">
            <slot />
        </div>

        <script src="/assets/scripts/lang-helper.js" hoist/>
        <script src="/assets/scripts/core.js" hoist/>
    </body>
</html>
